@import "../config";

/*
 * w2
 * ------------------------------------------------------------------------------------------------------------------
 */

$BG_width__CV_w2: 40%;
$LG_height__CV_w2: calc($logo_height_l + $padding_normal + $padding_small);
$LG_width__CV_w2:  calc($logo_width_l + $padding_normal_dbl);
$PS_height__CV_w2: calc($button_height + $padding_small);

[data-key=CV].CV_tens_w2 {

	[data-key=LG] {
		right: 0;
		bottom: 0;
		height: $LG_height__CV_w2;
		width: $LG_width__CV_w2;
		text-align: right;
		vertical-align: bottom;
	}

	[data-key=LG] .place {
		top: $padding_small;
		height: calc(100% - $padding_small - $padding_normal);
	}

	[data-key=MS] {
		right: 0;
		height: calc(100% - $LG_height__CV_w2);
		width: calc(100% - $BG_width__CV_w2);
	}

	[data-key=MS] .place {
		top: $padding_small;
		height: calc(100% - $padding_small);
		left: $padding_small;
		width: calc(100% - $padding_small - $padding_normal);
	}

	[data-key=PS],
	[data-key=CS] {
		bottom: 0;
		right: $LG_width__CV_w2;
		height: $LG_height__CV_w2;
		width: calc(100% - $BG_width__CV_w2 - $LG_width__CV_w2);
	}

	[data-key=PS] .place,
	[data-key=CS] .place {
		bottom: $padding_small;
		height: calc(100% - $padding_small_dbl);
		left: $padding_small;
		width: calc(100% - $padding_small);
	}

	[data-key=OL] {

		[data-key=OL_GR_0] .linear {
			display: none;
		}

		[data-key=OL_GR_0] .corner {
			display: block;
		}

		[data-key=OL_GR_0] {
			height: $LG_height__CV_w2;
			width: calc($LG_width__CV_w2 + 10%);
		}

		//[data-key=OL_GR_0] svg rect {
		//	transform-origin: center;
		//	transform: rotate(270deg);
		//}

		[data-key=OL_GR_1] svg rect {
			transform-origin: center;
			transform: rotate(270deg);
		}

		[data-key=OL_GR_0] {
			width: $LG_width__CV_w2;
		}

		[data-key=OL_GR_1] {
			right: 0;
			width: calc(100% - $BG_width__CV_w2);
		}

	}

}

/*
 * CONDITIONAL EXCEPTIONS - CV_layout_default
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV].CV_tens_w2.CV_layout_default {

	[data-key=BG].BG_place_fit .place,
	[data-key=FG].FG_place_fit .place {
		top: $padding_normal;
		left: $padding_normal;
		height: calc(100% - $padding_normal_dbl);
		width: calc($BG_width__CV_w2 - $padding_normal - $padding_small);
	}

}

/*
 * CONDITIONAL EXCEPTIONS - CV_layout_boxed
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV].CV_tens_w2.CV_layout_boxed {

	.isolated {
		width: $BG_width__CV_w2;
	}

	.isolated > .margin {
		width: calc(100% - $padding_small);
	}

}

/*
 * CONDITIONAL EXCEPTIONS - CV_layout_isolated
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV].CV_tens_w2.CV_layout_isolated {

	.isolated {
		width: $BG_width__CV_w2;
	}

}

/*
 * CONDITIONAL EXCEPTIONS - CV_scale_xs
 * ------------------------------------------------------------------------------------------------------------------
 */
