<data ng-if="$frame = $data.banner.layers.CV"></data>

<!-- KEY DEFINITION -->
<data ng-if="$wrapper_key = 'BG'"></data>
<data ng-if="$data.editor.element = $wrapper_key"></data>
<data ng-if="$alias_key = $wrapper_key"></data>
<!-- / KEY DEFINITION -->

<!-- TAB SETUP -->
<data ng-init="$tab_setup = [['elements', 'anim', 'layout', 'appear'], 'elements', ['appear'], 'appear']"></data>
<!-- / TAB SETUP -->

<WRAPPER_STATE_VALIDATION_COMPONENT></WRAPPER_STATE_VALIDATION_COMPONENT>

<WRAPPER_SHORTCUT_VALIDATION_COMPONENT></WRAPPER_SHORTCUT_VALIDATION_COMPONENT>

<WRAPPER_TAB_VALIDATION_COMPONENT></WRAPPER_TAB_VALIDATION_COMPONENT>

<TAB_SELECTOR></TAB_SELECTOR>

<block-group ng-if="($scope[1] == 'elements')">

    <block-toggle title="{{ :: $dict.label_image }}" class="toggle" ng-class="{selected: ($data.editor.scope[1].indexOf('BG_BI') != -1)}"
                  ng-click="$data.editor.scope[1] = (($data.editor.scope[1].indexOf('BG_BI') != -1) ? 'BG' : 'BG_BI')"></block-toggle>
    <block-group ng-if="($data.editor.scope[1].indexOf('BG_BI') != -1)">

        <!-- KEY DEFINITION -->
        <data ng-if="$object_key = 'OBJ'"></data>
        <data ng-if="$holder_key = 'IMG'"></data>
        <data ng-if="$target_key = '0'"></data>
        <data ng-if="$alias_key = 'BI'"></data>
        <!-- / KEY DEFINITION -->

        <!-- TAB SETUP -->
        <data ng-init="$tab_setup = [['source', 'quality', 'appear'], 'source', ['appear'], 'appear']"></data>
        <!-- / TAB SETUP -->

        <HOLDER_STATE_VALIDATION_COMPONENT></HOLDER_STATE_VALIDATION_COMPONENT>

        <HOLDER_SHORTCUT_VALIDATION_COMPONENT></HOLDER_SHORTCUT_VALIDATION_COMPONENT>

        <HOLDER_TAB_VALIDATION_COMPONENT></HOLDER_TAB_VALIDATION_COMPONENT>

        <TAB_SELECTOR></TAB_SELECTOR>

        <div ng-if="($scope[1] == 'source')">
            <IMAGE_SOURCE_GROUP></IMAGE_SOURCE_GROUP>
        </div>

        <div ng-if="($scope[1] == 'quality')">
            <IMAGE_QUALITY_GROUP></IMAGE_QUALITY_GROUP>
        </div>

        <div ng-if="($scope[1] == 'appear')">
            <IMAGE_APPEAR_GROUP></IMAGE_APPEAR_GROUP>
        </div>

    </block-group>

    <block-toggle title="{{ :: $dict.label_video}}" class="toggle" ng-class="{selected: ($data.editor.scope[1].indexOf('BG_BV') != -1)}"
                  ng-click="$data.editor.scope[1] = (($data.editor.scope[1].indexOf('BG_BV') != -1) ? 'BG' : 'BG_BV')"></block-toggle>
    <block-group ng-if="($data.editor.scope[1].indexOf('BG_BV') != -1)">

        <!-- KEY DEFINITION -->
        <data ng-if="$object_key = 'OBJ'"></data>
        <data ng-if="$holder_key = 'VID'"></data>
        <data ng-if="$target_key = '0'"></data>
        <data ng-if="$alias_key = 'BV'"></data>
        <!-- / KEY DEFINITION -->

        <!-- TAB SETUP -->
        <data ng-init="$tab_setup = [['source', 'quality', 'appear'], 'source', ['appear'], 'appear']"></data>
        <!-- / TAB SETUP -->

        <HOLDER_STATE_VALIDATION_COMPONENT></HOLDER_STATE_VALIDATION_COMPONENT>

        <HOLDER_SHORTCUT_VALIDATION_COMPONENT></HOLDER_SHORTCUT_VALIDATION_COMPONENT>

        <HOLDER_TAB_VALIDATION_COMPONENT></HOLDER_TAB_VALIDATION_COMPONENT>

        <TAB_SELECTOR></TAB_SELECTOR>

        <div ng-if="($scope[1] == 'source')">
            <VIDEO_SOURCE_GROUP></VIDEO_SOURCE_GROUP>
        </div>

        <div ng-if="($scope[1] == 'quality')">
            <VIDEO_QUALITY_GROUP></VIDEO_QUALITY_GROUP>
        </div>

        <div ng-if="($scope[1] == 'appear')">
            <VIDEO_APPEAR_GROUP></VIDEO_APPEAR_GROUP>
        </div>

    </block-group>

</block-group>

<div ng-if="($scope[1] == 'anim')">
    <WRAPPER_ANIM_GROUP></WRAPPER_ANIM_GROUP>
</div>

<div ng-if="($scope[1] == 'layout')">
    <WRAPPER_LAYOUT_GROUP></WRAPPER_LAYOUT_GROUP>
</div>

<div ng-if="($scope[1] == 'appear')">
    <WRAPPER_APPEAR_GROUP></WRAPPER_APPEAR_GROUP>
</div>