
<WRAPPER_MACROS_COMPONENT></WRAPPER_MACROS_COMPONENT>

<MACRO_PRESET_COMPONENT></MACRO_PRESET_COMPONENT>

<!-- VARIATION SETUP -->
<data ng-init="$variation_setup = _.concat(['default'], $variations['EL_orient'], $variations['CV_tens'], $variations['CV_scale'], $variations['CV_mode'], $variations['CV_size'])"></data>
<!-- /VARIATION SETUP -->

<WRAPPER_VARIATION_VALIDATION_COMPONENT></WRAPPER_VARIATION_VALIDATION_COMPONENT>

<VARIATION_SELECTOR></VARIATION_SELECTOR>

<!----------------------------------------------------------------------------------------------------------------->

<!-- VISIBILITY PICKER -->
<block-group ng-class="{disabled: ($variation_scope[1] != 'default')}">

    <block-field title="{{ :: $dict.label_visibility }}">
        <toggle-button model="$wrapper.enabled" on="{{ :: $dict.label_visible }}" off="{{ :: $dict.label_hidden }}"></toggle-button>
    </block-field>

</block-group>
<!-- / VISIBILITY PICKER -->

<div ng-if="$wrapper.enabled && ($macros[$alias_key + '_color'] || $macros[$alias_key + '_overflow'] || $macros[$alias_key + '_opacity'] || $macros[$alias_key + '_shadow'])">

    <!-- STYLE PICKER -->
    <block-group ng-if="$variation_scope[1] == 'default'">

        <block-field title="{{ :: $dict.label_element_style }}" class="label"></block-field>

        <!--<block-field title="{{ :: $dict.label_color }}" ng-if="$macros[$alias_key + '_color']">
            <dropdown-select model="$macros[$alias_key + '_color'].value">
                <LOGO_COLOR_OPTIONS></LOGO_COLOR_OPTIONS>
            </dropdown-select>
        </block-field>-->

        <block-field title="{{ :: $dict.label_overflow }}" ng-if="$macros[$alias_key + '_overflow']">
            <dropdown-select model="$macros[$alias_key + '_overflow'].value">
                <option value="hidden">{{ :: $dict.label_hidden }}</option>
                <option value="visible">{{ :: $dict.label_visible }}</option>
            </dropdown-select>
        </block-field>

        <block-field title="{{ :: $dict.label_opacity }}" ng-if="$macros[$alias_key + '_opacity']">
            <number-slider model="$macros[$alias_key + '_opacity'].value"
                           min="0" max="10" length="2" index="" left="{{ :: $dict.label_min }}" center="|" right="{{ :: $dict.label_max }}"
                           pattern="^([0-9]|10)$"></number-slider>
        </block-field>

        <block-field title="{{ :: $dict.label_shadow }}" ng-if="$macros[$alias_key + '_shadow']">
            <dropdown-select model="$macros[$alias_key + '_shadow'].value">
                <SHADOW_OPACITY_OPTIONS></SHADOW_OPACITY_OPTIONS>
            </dropdown-select>
        </block-field>

    </block-group>
    <block-group ng-if="$variation_scope[1] != 'default'" ng-class="{disabled: (!$macros_excepts[$variation_scope[1]].enabled)}">

        <block-field title="{{ :: $dict.label_element_style }}" class="label"></block-field>

        <!--<block-field title="{{ :: $dict.label_color }} *" ng-if="$macros[$alias_key + '_color']">
            <dropdown-select model="$macros_excepts[$variation_scope[1]].data[$alias_key + '_color'].value">
                <LOGO_COLOR_OPTIONS></LOGO_COLOR_OPTIONS>
            </dropdown-select>
        </block-field>-->

        <block-field title="{{ :: $dict.label_overflow }} *" ng-if="$macros[$alias_key + '_overflow']">
            <dropdown-select model="$macros_excepts[$variation_scope[1]].data[$alias_key + '_overflow'].value">
                <option value="hidden">{{ :: $dict.label_hidden }}</option>
                <option value="visible">{{ :: $dict.label_visible }}</option>
            </dropdown-select>
        </block-field>

        <block-field title="{{ :: $dict.label_opacity }} *" ng-if="$macros[$alias_key + '_opacity']">
            <number-slider model="$macros_excepts[$variation_scope[1]].data[$alias_key + '_opacity'].value"
                           min="0" max="10" length="2" index="" left="{{ :: $dict.label_min }}" center="|" right="{{ :: $dict.label_max }}"
                           pattern="^([0-9]|10)$"></number-slider>
        </block-field>

        <block-field title="{{ :: $dict.label_shadow }} *" ng-if="$macros[$alias_key + '_opacity']">
            <dropdown-select model="$macros_excepts[$variation_scope[1]].dat[$alias_key + '_shadow'].value">
                <SHADOW_OPACITY_OPTIONS></SHADOW_OPACITY_OPTIONS>
            </dropdown-select>
        </block-field>

    </block-group>
    <!-- / STYLE PICKER -->

</div>