/*
 * Scale configuration.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * w2
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_tens_w2 [data-key=LG] {
  right: 0;
  bottom: 0;
  height: calc(2rem + 3rem + 3rem / 2);
  width: calc(12.2857142857rem + 3rem * 2);
  text-align: right;
  vertical-align: bottom;
}
[data-key=CV].CV_tens_w2 [data-key=LG] .place {
  top: calc(3rem / 2);
  height: calc(100% - 3rem / 2 - 3rem);
}
[data-key=CV].CV_tens_w2 [data-key=MS] {
  right: 0;
  height: calc(100% - (2rem + 3rem + 3rem / 2));
  width: 60%;
}
[data-key=CV].CV_tens_w2 [data-key=MS] .place {
  top: calc(3rem / 2);
  height: calc(100% - 3rem / 2);
  left: calc(3rem / 2);
  width: calc(100% - 3rem / 2 - 3rem);
}
[data-key=CV].CV_tens_w2 [data-key=PS],
[data-key=CV].CV_tens_w2 [data-key=CS] {
  bottom: 0;
  right: calc(12.2857142857rem + 3rem * 2);
  height: calc(2rem + 3rem + 3rem / 2);
  width: calc(60% - (12.2857142857rem + 3rem * 2));
}
[data-key=CV].CV_tens_w2 [data-key=PS] .place,
[data-key=CV].CV_tens_w2 [data-key=CS] .place {
  bottom: calc(3rem / 2);
  height: calc(100% - calc(3rem / 2) * 2);
  left: calc(3rem / 2);
  width: calc(100% - 3rem / 2);
}
[data-key=CV].CV_tens_w2 [data-key=OL] [data-key=OL_GR_0] .linear {
  display: none;
}
[data-key=CV].CV_tens_w2 [data-key=OL] [data-key=OL_GR_0] .corner {
  display: block;
}
[data-key=CV].CV_tens_w2 [data-key=OL] [data-key=OL_GR_0] {
  height: calc(2rem + 3rem + 3rem / 2);
  width: calc(12.2857142857rem + 3rem * 2 + 10%);
}
[data-key=CV].CV_tens_w2 [data-key=OL] [data-key=OL_GR_1] svg rect {
  transform-origin: center;
  transform: rotate(270deg);
}
[data-key=CV].CV_tens_w2 [data-key=OL] [data-key=OL_GR_0] {
  width: calc(12.2857142857rem + 3rem * 2);
}
[data-key=CV].CV_tens_w2 [data-key=OL] [data-key=OL_GR_1] {
  right: 0;
  width: 60%;
}

/*
 * CONDITIONAL EXCEPTIONS - CV_layout_default
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_tens_w2.CV_layout_default [data-key=BG].BG_place_fit .place,
[data-key=CV].CV_tens_w2.CV_layout_default [data-key=FG].FG_place_fit .place {
  top: 3rem;
  left: 3rem;
  height: calc(100% - 3rem * 2);
  width: calc(40% - 3rem - 3rem / 2);
}

/*
 * CONDITIONAL EXCEPTIONS - CV_layout_boxed
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_tens_w2.CV_layout_boxed .isolated {
  width: 40%;
}
[data-key=CV].CV_tens_w2.CV_layout_boxed .isolated > .margin {
  width: calc(100% - 3rem / 2);
}

/*
 * CONDITIONAL EXCEPTIONS - CV_layout_isolated
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_tens_w2.CV_layout_isolated .isolated {
  width: 40%;
}

/*
 * CONDITIONAL EXCEPTIONS - CV_scale_xs
 * ------------------------------------------------------------------------------------------------------------------
 */

/*# sourceMappingURL=layout_tens_w2.css.map */
