/*
 * Global style setup and inheritance.
 * ------------------------------------------------------------------------------------------------------------------
 */
* {
  /**
   * Reset default element styles.
   */
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
  border: none;
  outline: none;
  background: none;
  border-spacing: 0;
  list-style: none;
  font-style: normal;
  /**
   * Inherit most important styles for better controls.
   */
  border-collapse: inherit;
  vertical-align: inherit;
  text-align: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  border-color: inherit;
  text-decoration: inherit;
  justify-content: inherit;
  align-items: inherit;
  line-height: inherit;
  visibility: inherit;
  cursor: inherit;
  /*z-index: inherit;*/
  /**
   * Ignore automatic font size adjustment.
   */
  -webkit-text-size-adjust: 100%;
}

/**
 * Remove user select to prevent gesture issues.
 */
*:not(input):not(select):not(textarea) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
 * Global defaults.
 * ------------------------------------------------------------------------------------------------------------------
 */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  font-family: "Comic Sans MS";
}

body {
  visibility: hidden;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

*.relative {
  position: relative;
  width: auto;
  height: auto;
}

*.inline {
  display: inline-block;
}

*.empty,
*.disabled {
  display: none !important;
}

*.hidden {
  visibility: hidden;
  pointer-events: none;
}

*.hidden * {
  pointer-events: none;
}

*.ready,
*.visible {
  visibility: visible;
}

div.table {
  display: table;
}

div.cell {
  position: relative;
  display: table-cell;
}

div.row {
  position: relative;
  display: table-row;
}

div, ul, li {
  position: absolute;
  width: 100%;
  height: 100%;
}

img,
svg,
video {
  position: absolute;
}

img[src=""],
video[src=""] {
  display: none !important;
}

q:before,
q:after {
  content: normal;
}

body, a, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

i {
  font-style: italic;
}

a {
  text-decoration: underline;
}

u {
  white-space: nowrap;
}

var br {
  display: none;
}

ins {
  word-break: break-word;
}

p {
  display: inline-block;
  vertical-align: baseline;
  /*width: 100%;*/
}

p span,
button span {
  display: inline;
}

p span span {
  display: block;
}

small {
  font-size: 0.8em;
}

big {
  font-size: 1.2em;
}

sup {
  font-size: 0.5em;
  vertical-align: super;
  line-height: 1em;
}

sub {
  font-size: 0.5em;
  vertical-align: text-bottom;
  line-height: 1em;
}

pre {
  text-align: left !important;
}

pre:not(:empty) + br {
  display: none;
}

hr {
  display: block;
  width: 100%;
  height: 0.1em;
  border: none;
}

hr:first-child {
  margin-top: 0;
}

hr:last-child {
  display: none;
}

hr + br {
  display: none;
}

var:empty + br {
  display: none;
}

/*
 * Fallback replace.
 * ------------------------------------------------------------------------------------------------------------------
 */
#fallback, *.fallback,
#fallback img, *.fallback img {
  position: absolute;
  left: 0;
  top: 0;
}

/*
* Layer visibility settings.
* ------------------------------------------------------------------------------------------------------------------
*/
[data-key=CV] [data-key=UL] {
  z-index: 5;
}
[data-key=CV] [data-key=UG] {
  z-index: 10;
}
[data-key=CV] [data-key=IL] {
  z-index: 11;
}
[data-key=CV] [data-key=BG],
[data-key=CV] [data-key=BG_OBJ] {
  z-index: 15;
}
[data-key=CV] [data-key=FG] {
  z-index: 20;
}
[data-key=CV] [data-key=OL] {
  z-index: 30;
}
[data-key=CV] [data-key=MS],
[data-key=CV] [data-key=PS],
[data-key=CV] [data-key=CS],
[data-key=CV] [data-key=LG] {
  z-index: 50;
}
[data-key=CV] [data-key=VS],
[data-key=CV] [data-key=CX] {
  z-index: 90;
}
[data-key=CV] [data-key=CL] {
  z-index: 100;
}
[data-key=CV] [data-key=FR] {
  z-index: 200;
}
[data-key=CV] [data-key=FR],
[data-key=CV] [data-key=FR] *,
[data-key=CV] [data-key=VS] .place * {
  pointer-events: none;
}
[data-key=CV] [data-key=CL_PS_TXT_1] {
  display: none;
}

[data-key=CV]:not(.VS_disabled).VS_active [data-key=VS] {
  z-index: 120;
}
[data-key=CV]:not(.VS_disabled).VS_active [data-key=CX] {
  z-index: 130;
}

[data-key=CV]:not(.VS_disabled):not(.VS_active) [data-key=CL_PS_TXT_1] {
  display: block;
  z-index: 110;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
}

/*
 * Scale configuration.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * Global element styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] {
  overflow: hidden;
  line-height: 1;
  letter-spacing: 0;
}

[data-key=CV] [data-key*=_TXT_] p::before,
[data-key=CV] [data-key*=_TXT_] p::after {
  content: "";
  position: relative;
  display: block;
}
[data-key=CV] .gr svg {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*
 * Global scrollbar styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
::-webkit-scrollbar {
  width: calc(calc(3rem / 2) / 2) !important;
}

::-webkit-scrollbar-track {
  border-radius: calc(calc(3rem / 2) / 2);
}

::-webkit-scrollbar-thumb {
  border-radius: calc(calc(3rem / 2) / 2);
}

/*
 * Global text formatting styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] button {
  display: inline-block;
  padding: 0.8em 1.2em 0.8em 1.2em;
  line-height: 1 !important;
  border-radius: 2rem;
  min-width: 10rem;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  border: solid 0.15rem;
  text-transform: inherit;
}
[data-key=CV].CV_tens_w3 button {
  min-width: 12rem;
}
[data-key=CV].CV_tens_t3 button {
  word-break: break-word;
  min-width: 8rem;
}
[data-key=CV].CV_tens_w1.CV_scale_xs button {
  word-break: break-word;
  min-width: initial;
}
[data-key=CV] hr {
  display: block;
  width: 100%;
  height: 0.1rem;
  margin: calc(3rem) 0 calc(3rem) 0;
}
[data-key=CV] hr:first-child {
  margin-top: 0;
}
[data-key=CV] hr:last-child {
  margin-bottom: 0;
  display: none;
}
[data-key=CV] br.space {
  content: "";
  display: block;
  font-size: 100%;
  height: calc(3rem / 2);
}
[data-key=CV] hr + br {
  display: none;
}
[data-key=CV] var:empty + br {
  display: none;
}

/*
 * Global LG layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] [data-key=LG] {
  text-align: left;
}
[data-key=CV] [data-key=LG] .place {
  top: 3rem;
  left: 3rem;
  width: calc(100% - calc(3rem * 2));
  height: calc(100% - calc(3rem * 2));
}
[data-key=CV] [data-key=LG] svg {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*
 * Global OL layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] [data-key=OL] .corner,
[data-key=CV] [data-key=OL] .radial {
  display: none;
}
[data-key=CV].CV_layout_isolated [data-key=OL] [data-key=OL_GR_0] .corner,
[data-key=CV].CV_layout_isolated [data-key=OL] [data-key=OL_GR_0] .radial, [data-key=CV].CV_layout_boxed [data-key=OL] [data-key=OL_GR_0] .corner,
[data-key=CV].CV_layout_boxed [data-key=OL] [data-key=OL_GR_0] .radial {
  display: none;
}
[data-key=CV].CV_layout_isolated [data-key=OL] [data-key=OL_GR_1], [data-key=CV].CV_layout_boxed [data-key=OL] [data-key=OL_GR_1] {
  display: none;
}

/*
 * Global BG, FG layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] [data-key=UG],
[data-key=CV] [data-key=BG],
[data-key=CV] [data-key=FG] {
  text-align: center;
  vertical-align: middle;
}
[data-key=CV] [data-key=BG].BG_place_fit .place,
[data-key=CV] [data-key=FG].FG_place_fit .place {
  top: 3rem;
  left: 3rem;
  height: calc(100% - 3rem * 2);
  width: calc(100% - 3rem * 2);
}
[data-key=CV].CV_layout_boxed .isolated > .margin {
  overflow: hidden;
  border-radius: calc(3rem / 2);
  top: calc(3rem / 2);
  left: calc(3rem / 2);
  height: calc(100% - calc(3rem / 2) * 2);
  width: calc(100% - calc(3rem / 2) * 2);
}
[data-key=CV].CV_layout_isolated .isolated {
  overflow: hidden;
}

/*
 * Global MS layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] [data-key=MS] {
  text-align: left;
  vertical-align: middle;
  justify-content: center;
  line-height: 1.1;
}
[data-key=CV] [data-key=MS] .box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
[data-key=CV] [data-key=MS] img.dealer_logo {
  height: 2em;
  width: auto;
  max-width: 100%;
}
[data-key=CV] [data-key*=SQ_]:not(.MB_disabled):not(.SQ_split_1) [data-key=MS] .MB p::before {
  margin: calc(calc(3rem / 2) / 2);
}
[data-key=CV] [data-key*=SQ_]:not(.MC_disabled):not(.SQ_split_1) [data-key=MS] .MC p::before {
  margin: calc(calc(3rem) / 2);
}
[data-key=CV] [data-key*=SQ_].SQ_split_1 [data-key=MS] .MA, [data-key=CV] [data-key*=SQ_].SQ_split_0 [data-key=MS] .MB {
  display: none !important;
}

/*
 * Global PS layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] [data-key=PS] {
  text-align: left;
  vertical-align: middle;
  justify-content: center;
}
[data-key=CV] [data-key=PS] .box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
[data-key=CV] [data-key=PS] .spacer_between {
  margin: calc(calc(3rem) / 6);
}
[data-key=CV] [data-key=PS] [class*=_orient_l] .box {
  flex-direction: row;
  align-items: center;
}
[data-key=CV] [data-key=PS] [class*=_orient_l] .spacer_between {
  margin: calc(calc(3rem) / 4);
}
[data-key=CV] [data-key=PS] [class*=_orient_l] .BT {
  min-width: 40%;
}
[data-key=CV] [data-key=PS] [class*=_orient_l] .BT p,
[data-key=CV] [data-key=PS] [class*=_orient_l] .BT button {
  min-width: 100%;
}
[data-key=CV].BT_disabled [data-key=PS] .spacer_between, [data-key=CV].CN_disabled [data-key=PS] .spacer_between {
  display: none;
}

/*
 * Global LN layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] [data-key=LN] {
  width: 0.8rem;
}
[data-key=CV] [data-key=LN] [data-key=LN_BG] {
  height: 0px;
  max-height: 50%;
}

/*
 * Global DS layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] [data-key=DS] {
  text-align: left;
  vertical-align: middle;
  justify-content: start;
}
[data-key=CV] [data-key=DS] .place {
  top: 3rem;
  left: 3rem;
  width: calc(100% - calc(3rem * 2));
  height: calc(100% - calc(3rem * 2));
}

[data-key=CV]:not(.DS_IMG_0_disabled.DS_IMG_1_disabled) [data-key=DS] .DA_DB,
[data-key=BN]:not(.dealer_logo_empty) [data-key=CV]:not(.DS_IMG_1_disabled).DS_IMG_0_disabled [data-key=DS] .DA_DB,
[data-key=CV].DS_IMG_0_disabled.DS_IMG_1_disabled [data-key=DS] .DL {
  display: none !important;
}

/*
 * Global VS layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] [data-key=VS] {
  text-align: left;
  vertical-align: top;
  justify-content: start;
}
[data-key=CV] [data-key=VS] .place {
  left: 3rem;
  width: calc(100% - 3rem * 2);
  top: 3rem;
  height: calc(100% - 3rem * 2);
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
[data-key=CV] [data-key=VS] .box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
[data-key=CV] [data-key=VS] [class*=_orient_l] .box {
  flex-direction: row;
  flex: 2 1 auto;
}
[data-key=CV] [data-key=VS] [data-key=VS_TXT] {
  padding-right: 3rem;
}
[data-key=CV] [data-key=VS] [data-key=VS_IMG] {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
[data-key=CV] [data-key=VS] p {
  line-height: 1.2;
}
[data-key=CV] [data-key=VS] .spacer_between {
  margin: calc(calc(3rem) / 2);
}
[data-key=CV] [data-key=VS] .DN p::after,
[data-key=CV] [data-key=VS] .VA p::after {
  margin: calc(calc(3rem / 2) / 2);
}
[data-key=CV].DL_disabled.DN_disabled.DD_disabled [data-key=VS] .DL_DN_DD, [data-key=CV].DN_disabled.DD_disabled [data-key=VS] .spacer_between, [data-key=CV].DL_disabled.DN_disabled.DD_disabled [data-key=VS] .spacer_between, [data-key=CV].VA_disabled.VB_disabled [data-key=VS] .VA_VB, [data-key=CV].VA_disabled.VB_disabled [data-key=VS] .spacer_between {
  display: none !important;
}

[data-key=BN].dealer_logo_empty [data-key=CV] [data-key=VS] .DL [data-key=VS_IMG].DL_type_link {
  display: none !important;
}

/*# sourceMappingURL=layout.css.map */
