/*
 * Global asset masking styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] [class*=_mask_] [data-key*=_ASSET] {
  mask-mode: alpha;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-origin: initial;
  -webkit-mask-origin: initial;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: 100% 100%;
  -webkit-mask-size: 100% 100%;
}

[data-key=CV] [class*=_mask_circle] [data-key*=_ASSET] {
  mask-image: radial-gradient(closest-side, black 0% 40%, transparent 100%);
  -webkit-mask-image: -webkit-radial-gradient(closest-side, black 0% 60%, transparent 100%);
}

[data-key=CV] [class*=_mask_circle_sharp] [data-key*=_ASSET] {
  mask-image: radial-gradient(closest-side, black 0% 60%, transparent 100%);
  -webkit-mask-image: -webkit-radial-gradient(closest-side, black 0% 80%, transparent 100%);
}

[data-key=CV] [class*=_mask_linear_t_] [data-key*=_ASSET] {
  mask-image: linear-gradient(90deg, black 0% 60%, transparent 100%);
  -webkit-mask-image: -webkit-linear-gradient(90deg, black 0% 60%, transparent 100%);
}

[data-key=CV] [class*=_mask_linear_r_] [data-key*=_ASSET] {
  mask-image: linear-gradient(0deg, black 0% 60%, transparent 100%);
  -webkit-mask-image: -webkit-linear-gradient(0deg, black 0% 60%, transparent 100%);
}

[data-key=CV] [class*=_mask_linear_b_] [data-key*=_ASSET] {
  mask-image: linear-gradient(270deg, black 0% 60%, transparent 100%);
  -webkit-mask-image: -webkit-linear-gradient(270deg, black 0% 60%, transparent 100%);
}

[data-key=CV] [class*=_mask_linear_l_] [data-key*=_ASSET] {
  mask-image: linear-gradient(180deg, black 0% 60%, transparent 100%);
  -webkit-mask-image: -webkit-linear-gradient(180deg, black 0% 60%, transparent 100%);
}

[data-key=CV] [class*=_mask_linear_rl_] [data-key*=_ASSET] {
  mask-image: linear-gradient(0deg, transparent 0%, black 40% 60%, transparent 100%);
  -webkit-mask-image: -webkit-linear-gradient(0deg, transparent 0%, black 40% 60%, transparent 100%);
}

[data-key=CV] [class*=_mask_linear_tb_] [data-key*=_ASSET] {
  mask-image: linear-gradient(90deg, transparent 0%, black 40% 60%, transparent 100%);
  -webkit-mask-image: -webkit-linear-gradient(90deg, transparent 0%, black 40% 60%, transparent 100%);
}

[data-key=CV] [class*=_mask_linear_bl_] [data-key*=_ASSET] {
  mask-image: linear-gradient(270deg, black 0% 60%, transparent 100%), linear-gradient(180deg, black 0% 60%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: -webkit-linear-gradient(270deg, black 0% 60%, transparent 100%), -webkit-linear-gradient(180deg, black 0% 60%, transparent 100%);
  -webkit-mask-composite: source-in;
}

[data-key=CV] [class*=_mask_linear_rb_] [data-key*=_ASSET] {
  mask-image: linear-gradient(270deg, black 0% 60%, transparent 100%), linear-gradient(0deg, black 0% 60%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: -webkit-linear-gradient(270deg, black 0% 60%, transparent 100%), -webkit-linear-gradient(0deg, black 0% 60%, transparent 100%);
  -webkit-mask-composite: source-in;
}

[data-key=CV] [class*=_mask_linear_tl_] [data-key*=_ASSET] {
  mask-image: linear-gradient(90deg, black 0% 60%, transparent 100%), linear-gradient(180deg, black 0% 60%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: -webkit-linear-gradient(90deg, black 0% 60%, transparent 100%), -webkit-linear-gradient(180deg, black 0% 60%, transparent 100%);
  -webkit-mask-composite: source-in;
}

[data-key=CV] [class*=_mask_linear_tr_] [data-key*=_ASSET] {
  mask-image: linear-gradient(90deg, black 0% 60%, transparent 100%), -webkit-linear-gradient(0deg, black 0% 60%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: -webkit-linear-gradient(90deg, black 0% 60%, transparent 100%), -webkit-linear-gradient(0deg, black 0% 60%, transparent 100%);
  -webkit-mask-composite: source-in;
}

[data-key=CV] [class*=_mask_linear_rbl_] [data-key*=_ASSET] {
  mask-image: linear-gradient(0deg, transparent 0%, black 40% 60%, transparent 100%), linear-gradient(270deg, black 0% 60%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: -webkit-linear-gradient(0deg, transparent 0%, black 40% 60%, transparent 100%), -webkit-linear-gradient(270deg, black 0% 60%, transparent 100%);
  -webkit-mask-composite: source-in;
}

[data-key=CV] [class*=_mask_linear_tbl_] [data-key*=_ASSET] {
  mask-image: linear-gradient(90deg, transparent 0%, black 40% 60%, transparent 100%), linear-gradient(180deg, black 0% 60%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: -webkit-linear-gradient(90deg, transparent 0%, black 40% 60%, transparent 100%), -webkit-linear-gradient(180deg, black 0% 60%, transparent 100%);
  -webkit-mask-composite: source-in;
}

[data-key=CV] [class*=_mask_linear_trb_] [data-key*=_ASSET] {
  mask-image: linear-gradient(0deg, black 0% 60%, transparent 100%), linear-gradient(90deg, transparent 0%, black 40% 60%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: -webkit-linear-gradient(0deg, black 0% 60%, transparent 100%), -webkit-linear-gradient(90deg, transparent 0%, black 40% 60%, transparent 100%);
  -webkit-mask-composite: source-in;
}

[data-key=CV] [class*=_mask_linear_trl_] [data-key*=_ASSET] {
  mask-image: linear-gradient(90deg, black 0% 60%, transparent 100%), linear-gradient(0deg, transparent 0%, black 40% 60%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: -webkit-linear-gradient(90deg, black 0% 60%, transparent 100%), -webkit-linear-gradient(0deg, transparent 0%, black 40% 60%, transparent 100%);
  -webkit-mask-composite: source-in;
}

[data-key=CV] [class*=_mask_linear_all_] [data-key*=_ASSET] {
  mask-image: linear-gradient(90deg, transparent 0%, black 40% 60%, transparent 100%), linear-gradient(0deg, transparent 0%, black 40% 60%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: -webkit-linear-gradient(90deg, transparent 0%, black 40% 60%, transparent 100%), -webkit-linear-gradient(0deg, transparent 0%, black 40% 60%, transparent 100%);
  -webkit-mask-composite: source-in;
}

/*
 * Debug mode styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
.mode_debug .active .margin:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 1px * 2);
  height: calc(100% - 1px * 2);
}

.mode_debug *:not(li) .active .margin:after,
.mode_debug li.active .margin:after {
  border: 1px dashed rgba(255, 0, 255, 0.5);
}

.mode_debug .debug.active .margin:after {
  border: 1px dashed rgba(255, 0, 255, 0.75);
}

.mode_debug .debug.active .margin:after {
  border: 1px solid rgba(255, 0, 255, 0.75);
  background: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 0, 255, 0.25) 10px, rgba(255, 0, 255, 0.25) 11px, transparent 11px, transparent 20px);
}

.mode_debug li.active .debug.active .margin:after,
.mode_debug .debug.active li.active .margin:after {
  border: 1px dashed rgba(255, 0, 255, 0.75);
}

.mode_debug li.active .debug.active .margin:after,
.mode_debug .debug.active li.active .margin:after {
  border: 1px solid rgba(255, 0, 255, 0.75);
  background: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(255, 0, 255, 0.25) 10px, rgba(255, 0, 255, 0.25) 11px, transparent 11px, transparent 20px);
}

.mode_debug .debug.active p span,
.mode_debug .debug.active p svg,
.mode_debug .debug.active button span,
.mode_debug .debug.active img,
.mode_debug .debug.active video {
  box-shadow: inset 0 0 0 1px rgba(255, 0, 255, 0.25);
}

[data-key=CV] [data-key*=SQ_]:not(.active) .margin:after {
  border: none !important;
}

/*
 * Grid mode styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=BN]:not(.mode_debug.mode_debug_grid) [class*=grid_] {
  display: none !important;
}

.mode_debug.mode_debug_grid *[class*=grid_] {
  z-index: 100 !important;
}

.mode_debug.mode_debug_grid *[class*=grid_x_] {
  width: 100%;
  height: 0;
  border-bottom: 1px dotted rgba(0, 255, 255, 0.5);
}

.mode_debug.mode_debug_grid *[class*=grid_y_] {
  height: 100%;
  width: 0;
  border-right: 1px dotted rgba(0, 255, 255, 0.5);
}

.mode_debug.mode_debug_grid .grid_x_0 {
  top: 20%;
}

.mode_debug.mode_debug_grid .grid_x_1 {
  top: 40%;
}

.mode_debug.mode_debug_grid .grid_x_2 {
  top: 60%;
}

.mode_debug.mode_debug_grid .grid_x_3 {
  top: 80%;
}

.mode_debug.mode_debug_grid .grid_y_0 {
  left: 20%;
}

.mode_debug.mode_debug_grid .grid_y_1 {
  left: 40%;
}

.mode_debug.mode_debug_grid .grid_y_2 {
  left: 60%;
}

.mode_debug.mode_debug_grid .grid_y_3 {
  left: 80%;
}

.mode_debug.mode_debug_grid .CV_tens_t2 .grid_y_0 {
  left: 50%;
}

.mode_debug.mode_debug_grid .CV_tens_t2 .grid_y_1,
.mode_debug.mode_debug_grid .CV_tens_t2 .grid_y_2,
.mode_debug.mode_debug_grid .CV_tens_t2 .grid_y_3 {
  display: none;
}

.mode_debug.mode_debug_grid .CV_tens_t1 .grid_x_0 {
  top: 25%;
}

.mode_debug.mode_debug_grid .CV_tens_t1 .grid_x_1 {
  top: 50%;
}

.mode_debug.mode_debug_grid .CV_tens_t1 .grid_x_2 {
  top: 75%;
}

.mode_debug.mode_debug_grid .CV_tens_t1 .grid_x_3 {
  display: none;
}

.mode_debug.mode_debug_grid .CV_tens_t1 .grid_y_0 {
  left: 33.3%;
}

.mode_debug.mode_debug_grid .CV_tens_t1 .grid_y_1 {
  left: 66.6%;
}

.mode_debug.mode_debug_grid .CV_tens_t1 .grid_y_2,
.mode_debug.mode_debug_grid .CV_tens_t1 .grid_y_3 {
  display: none;
}

.mode_debug.mode_debug_grid .CV_tens_t0 .grid_x_0 {
  top: 25%;
}

.mode_debug.mode_debug_grid .CV_tens_t0 .grid_x_1 {
  top: 50%;
}

.mode_debug.mode_debug_grid .CV_tens_t0 .grid_x_2 {
  top: 75%;
}

.mode_debug.mode_debug_grid .CV_tens_t0 .grid_x_3 {
  display: none;
}

.mode_debug.mode_debug_grid .CV_tens_t0 .grid_y_0 {
  left: 33.3%;
}

.mode_debug.mode_debug_grid .CV_tens_t0 .grid_y_1 {
  left: 66.6%;
}

.mode_debug.mode_debug_grid .CV_tens_t0 .grid_y_2,
.mode_debug.mode_debug_grid .CV_tens_t0 .grid_y_3 {
  display: none;
}

.mode_debug.mode_debug_grid .CV_tens_w0 .grid_x_0 {
  top: 33.3%;
}

.mode_debug.mode_debug_grid .CV_tens_w0 .grid_x_1 {
  top: 66.6%;
}

.mode_debug.mode_debug_grid .CV_tens_w0 .grid_x_2,
.mode_debug.mode_debug_grid .CV_tens_w0 .grid_x_3 {
  display: none;
}

.mode_debug.mode_debug_grid .CV_tens_w1 .grid_x_0 {
  top: 33.3%;
}

.mode_debug.mode_debug_grid .CV_tens_w1 .grid_x_1 {
  top: 66.6%;
}

.mode_debug.mode_debug_grid .CV_tens_w1 .grid_x_2,
.mode_debug.mode_debug_grid .CV_tens_w1 .grid_x_3 {
  display: none;
}

.mode_debug.mode_debug_grid .CV_tens_w2 .grid_x_0 {
  top: 50%;
}

.mode_debug.mode_debug_grid .CV_tens_w2 .grid_x_1,
.mode_debug.mode_debug_grid .CV_tens_w2 .grid_x_2,
.mode_debug.mode_debug_grid .CV_tens_w2 .grid_x_3 {
  display: none;
}

/*
 * Scale configuration.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * Color configuration.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * Theme configuration.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * Scroll colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * Text colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * Button colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * Logo colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * Background colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * Fill colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * Shadow and gradient colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=BN] {
  display: none;
}

[data-key=BN].actuated {
  display: block;
}

/*
 * Common color resets.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV] svg {
  fill: transparent;
}

[data-key=CV] .bg {
  background: transparent;
}

[data-key=CV] .gr svg .fill {
  stop-color: transparent;
}

/*
 * Frame colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
/*
 * Text element colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_theme_dark .st_auto p {
  color: rgb(245, 250, 232);
}

[data-key=CV].CV_theme_dark .st_auto p q {
  color: rgba(245, 250, 232, 0.75);
}

[data-key=CV].CV_theme_dark .st_auto p em {
  color: rgb(144, 208, 0);
}

[data-key=CV].CV_theme_dark .st_auto p hr {
  background: rgb(245, 250, 232);
}

[data-key=CV].CV_theme_dark .st_auto svg {
  fill: rgb(245, 250, 232);
}

[data-key=CV].CV_theme_dark .st_auto.inverted p {
  color: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_dark .st_auto.inverted p q {
  color: rgba(0, 56, 61, 0.75);
}

[data-key=CV].CV_theme_dark .st_auto.inverted p em {
  color: rgb(144, 208, 0);
}

[data-key=CV].CV_theme_dark .st_auto.inverted p hr {
  background: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_light .st_auto p {
  color: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_light .st_auto p q {
  color: rgba(0, 56, 61, 0.75);
}

[data-key=CV].CV_theme_light .st_auto p em {
  color: rgb(144, 208, 0);
}

[data-key=CV].CV_theme_light .st_auto p hr {
  background: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_light .st_auto svg {
  fill: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_light .st_auto.inverted p {
  color: rgb(245, 250, 232);
}

[data-key=CV].CV_theme_light .st_auto.inverted p q {
  color: rgba(245, 250, 232, 0.75);
}

[data-key=CV].CV_theme_light .st_auto.inverted p em {
  color: rgb(144, 208, 0);
}

[data-key=CV].CV_theme_light .st_auto.inverted p hr {
  background: rgb(245, 250, 232);
}

[data-key=CV] .st_dark p {
  color: rgb(245, 250, 232);
}

[data-key=CV] .st_dark p q {
  color: rgba(245, 250, 232, 0.75);
}

[data-key=CV] .st_dark p em {
  color: rgb(144, 208, 0);
}

[data-key=CV] .st_dark p hr {
  background: rgb(245, 250, 232);
}

[data-key=CV] .st_dark svg {
  fill: rgb(245, 250, 232);
}

[data-key=CV] .st_light p {
  color: rgb(0, 56, 61);
}

[data-key=CV] .st_light p q {
  color: rgba(0, 56, 61, 0.75);
}

[data-key=CV] .st_light p em {
  color: rgb(144, 208, 0);
}

[data-key=CV] .st_light p hr {
  background: rgb(0, 56, 61);
}

[data-key=CV] .st_light svg {
  fill: rgb(0, 56, 61);
}

/*
 * Button element colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_theme_dark .bt_auto p button {
  color: rgb(0, 56, 61);
  border-color: rgb(144, 208, 0);
  background: rgb(144, 208, 0);
}

[data-key=CV].CV_theme_dark:hover .bt_auto p button {
  color: rgb(245, 250, 232);
  border-color: rgb(144, 208, 0);
  background: rgba(0, 56, 61, 0);
}

[data-key=CV].CV_theme_light .bt_auto p button {
  color: rgb(0, 56, 61);
  border-color: rgb(144, 208, 0);
  background: rgb(144, 208, 0);
}

[data-key=CV].CV_theme_light:hover .bt_auto p button {
  color: rgb(0, 56, 61);
  border-color: rgb(144, 208, 0);
  background: rgba(0, 56, 61, 0);
}

[data-key=CV] .bt_dark p button {
  color: rgb(0, 56, 61);
  border-color: rgb(144, 208, 0);
  background: rgb(144, 208, 0);
}

[data-key=CV]:hover .bt_dark p button {
  color: rgb(245, 250, 232);
  border-color: rgb(144, 208, 0);
  background: rgba(0, 56, 61, 0);
}

[data-key=CV] .bt_light p button {
  color: rgb(0, 56, 61);
  border-color: rgb(144, 208, 0);
  background: rgb(144, 208, 0);
}

[data-key=CV]:hover .bt_light p button {
  color: rgb(0, 56, 61);
  border-color: rgb(144, 208, 0);
  background: rgba(0, 56, 61, 0);
}

/*
 * Logo colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_theme_dark .lg_auto svg .fill_1 {
  fill: rgb(255, 255, 255);
}

[data-key=CV].CV_theme_dark .lg_auto svg .fill_2 {
  fill: rgb(255, 255, 255);
}

[data-key=CV].CV_theme_dark .lg_auto.inverted svg .fill_1 {
  fill: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_dark .lg_auto.inverted svg .fill_2 {
  fill: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_light .lg_auto svg .fill_1 {
  fill: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_light .lg_auto svg .fill_2 {
  fill: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_light .lg_auto.inverted svg .fill_1 {
  fill: rgb(255, 255, 255);
}

[data-key=CV].CV_theme_light .lg_auto.inverted svg .fill_2 {
  fill: rgb(255, 255, 255);
}

[data-key=CV] .lg_dark svg .fill_1 {
  fill: rgb(255, 255, 255);
}

[data-key=CV] .lg_dark svg .fill_2 {
  fill: rgb(255, 255, 255);
}

[data-key=CV] .lg_light svg .fill_1 {
  fill: rgb(0, 56, 61);
}

[data-key=CV] .lg_light svg .fill_2 {
  fill: rgb(0, 56, 61);
}

/*
 * Background colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_theme_dark .bg_auto .bg {
  background: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_dark .bg_auto.inverted .bg {
  background: rgb(245, 250, 232);
}

[data-key=CV].CV_theme_light .bg_auto .bg {
  background: rgb(245, 250, 232);
}

[data-key=CV].CV_theme_light .bg_auto.inverted .bg {
  background: rgb(0, 56, 61);
}

[data-key=CV] .bg_dark .bg {
  background: rgb(0, 56, 61);
}

[data-key=CV] .bg_dark.inverted .bg {
  background: rgb(245, 250, 232);
}

[data-key=CV] .bg_light .bg {
  background: rgb(245, 250, 232);
}

[data-key=CV] .bg_light.inverted .bg {
  background: rgb(0, 56, 61);
}

/*
 * Fill colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_theme_dark .fl_auto svg {
  fill: rgb(245, 250, 232);
}

[data-key=CV].CV_theme_dark .fl_auto.inverted svg {
  fill: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_light .fl_auto svg {
  fill: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_light .fl_auto.inverted svg {
  fill: rgb(245, 250, 232);
}

[data-key=CV] .fl_dark svg {
  fill: rgb(245, 250, 232);
}

[data-key=CV] .fl_light svg {
  fill: rgb(0, 56, 61);
}

/*
 * Gradient colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_theme_dark .gr_auto_a10 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.1);
}

[data-key=CV].CV_theme_dark .gr_auto_a20 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.2);
}

[data-key=CV].CV_theme_dark .gr_auto_a40 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.4);
}

[data-key=CV].CV_theme_dark .gr_auto_a60 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.6);
}

[data-key=CV].CV_theme_dark .gr_auto_a80 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.8);
}

[data-key=CV].CV_theme_dark .gr_auto_a90 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.9);
}

[data-key=CV].CV_theme_dark .gr_auto_a100 .gr svg .fill {
  stop-color: rgb(0, 0, 0);
}

[data-key=CV].CV_theme_dark .gr_auto_a10.inverted .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.1);
}

[data-key=CV].CV_theme_dark .gr_auto_a20.inverted .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.2);
}

[data-key=CV].CV_theme_dark .gr_auto_a40.inverted .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.4);
}

[data-key=CV].CV_theme_dark .gr_auto_a60.inverted .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.6);
}

[data-key=CV].CV_theme_dark .gr_auto_a80.inverted .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.8);
}

[data-key=CV].CV_theme_dark .gr_auto_a90.inverted .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.9);
}

[data-key=CV].CV_theme_dark .gr_auto_a100.inverted .gr svg .fill {
  stop-color: rgb(255, 255, 255);
}

[data-key=CV].CV_theme_light .gr_auto_a10 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.1);
}

[data-key=CV].CV_theme_light .gr_auto_a20 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.2);
}

[data-key=CV].CV_theme_light .gr_auto_a40 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.4);
}

[data-key=CV].CV_theme_light .gr_auto_a60 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.6);
}

[data-key=CV].CV_theme_light .gr_auto_a80 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.8);
}

[data-key=CV].CV_theme_light .gr_auto_a90 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.9);
}

[data-key=CV].CV_theme_light .gr_auto_a100 .gr svg .fill {
  stop-color: rgb(255, 255, 255);
}

[data-key=CV].CV_theme_light .gr_auto_a10.inverted .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.1);
}

[data-key=CV].CV_theme_light .gr_auto_a20.inverted .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.2);
}

[data-key=CV].CV_theme_light .gr_auto_a40.inverted .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.4);
}

[data-key=CV].CV_theme_light .gr_auto_a60.inverted .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.6);
}

[data-key=CV].CV_theme_light .gr_auto_a80.inverted .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.8);
}

[data-key=CV].CV_theme_light .gr_auto_a90.inverted .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.9);
}

[data-key=CV].CV_theme_light .gr_auto_a100.inverted .gr svg .fill {
  stop-color: rgb(0, 0, 0);
}

[data-key=CV] .gr_black_a10 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.1);
}

[data-key=CV] .gr_black_a20 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.2);
}

[data-key=CV] .gr_black_a40 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.4);
}

[data-key=CV] .gr_black_a60 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.6);
}

[data-key=CV] .gr_black_a80 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.8);
}

[data-key=CV] .gr_black_a90 .gr svg .fill {
  stop-color: rgba(0, 0, 0, 0.9);
}

[data-key=CV] .gr_black_a100 .gr svg .fill {
  stop-color: rgb(0, 0, 0);
}

[data-key=CV] .gr_white_a10 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.1);
}

[data-key=CV] .gr_white_a20 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.2);
}

[data-key=CV] .gr_white_a40 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.4);
}

[data-key=CV] .gr_white_a60 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.6);
}

[data-key=CV] .gr_white_a80 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.8);
}

[data-key=CV] .gr_white_a90 .gr svg .fill {
  stop-color: rgba(255, 255, 255, 0.9);
}

[data-key=CV] .gr_white_a100 .gr svg .fill {
  stop-color: rgb(255, 255, 255);
}

/*
 * Tinting colors.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_theme_dark .sh_auto_a10 p {
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a10 p button,
[data-key=CV].CV_theme_dark .sh_auto_a10 img,
[data-key=CV].CV_theme_dark .sh_auto_a10 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.1));
}

[data-key=CV].CV_theme_dark .sh_auto_a20 p {
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a20 p button,
[data-key=CV].CV_theme_dark .sh_auto_a20 img,
[data-key=CV].CV_theme_dark .sh_auto_a20 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.2));
}

[data-key=CV].CV_theme_dark .sh_auto_a40 p {
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a40 p button,
[data-key=CV].CV_theme_dark .sh_auto_a40 img,
[data-key=CV].CV_theme_dark .sh_auto_a40 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.4));
}

[data-key=CV].CV_theme_dark .sh_auto_a60 p {
  text-shadow: rgba(0, 0, 0, 0.6) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a60 p button,
[data-key=CV].CV_theme_dark .sh_auto_a60 img,
[data-key=CV].CV_theme_dark .sh_auto_a60 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.6));
}

[data-key=CV].CV_theme_dark .sh_auto_a80 p {
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a80 p button,
[data-key=CV].CV_theme_dark .sh_auto_a80 img,
[data-key=CV].CV_theme_dark .sh_auto_a80 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.8));
}

[data-key=CV].CV_theme_dark .sh_auto_a90 p {
  text-shadow: rgba(0, 0, 0, 0.9) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a90 p button,
[data-key=CV].CV_theme_dark .sh_auto_a90 img,
[data-key=CV].CV_theme_dark .sh_auto_a90 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.9));
}

[data-key=CV].CV_theme_dark .sh_auto_a100 p {
  text-shadow: rgb(0, 0, 0) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a100 p button,
[data-key=CV].CV_theme_dark .sh_auto_a100 img,
[data-key=CV].CV_theme_dark .sh_auto_a100 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgb(0, 0, 0));
}

[data-key=CV].CV_theme_dark .sh_auto_a10.inverted p {
  text-shadow: rgba(255, 255, 255, 0.1) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a10.inverted p button,
[data-key=CV].CV_theme_dark .sh_auto_a10.inverted img,
[data-key=CV].CV_theme_dark .sh_auto_a10.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.1));
}

[data-key=CV].CV_theme_dark .sh_auto_a20.inverted p {
  text-shadow: rgba(255, 255, 255, 0.2) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a20.inverted p button,
[data-key=CV].CV_theme_dark .sh_auto_a20.inverted img,
[data-key=CV].CV_theme_dark .sh_auto_a20.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.2));
}

[data-key=CV].CV_theme_dark .sh_auto_a40.inverted p {
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a40.inverted p button,
[data-key=CV].CV_theme_dark .sh_auto_a40.inverted img,
[data-key=CV].CV_theme_dark .sh_auto_a40.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.4));
}

[data-key=CV].CV_theme_dark .sh_auto_a60.inverted p {
  text-shadow: rgba(255, 255, 255, 0.6) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a60.inverted p button,
[data-key=CV].CV_theme_dark .sh_auto_a60.inverted img,
[data-key=CV].CV_theme_dark .sh_auto_a60.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.6));
}

[data-key=CV].CV_theme_dark .sh_auto_a80.inverted p {
  text-shadow: rgba(255, 255, 255, 0.8) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a80.inverted p button,
[data-key=CV].CV_theme_dark .sh_auto_a80.inverted img,
[data-key=CV].CV_theme_dark .sh_auto_a80.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.8));
}

[data-key=CV].CV_theme_dark .sh_auto_a90.inverted p {
  text-shadow: rgba(255, 255, 255, 0.9) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a90.inverted p button,
[data-key=CV].CV_theme_dark .sh_auto_a90.inverted img,
[data-key=CV].CV_theme_dark .sh_auto_a90.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.9));
}

[data-key=CV].CV_theme_dark .sh_auto_a100.inverted p {
  text-shadow: rgb(255, 255, 255) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_dark .sh_auto_a100.inverted p button,
[data-key=CV].CV_theme_dark .sh_auto_a100.inverted img,
[data-key=CV].CV_theme_dark .sh_auto_a100.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgb(255, 255, 255));
}

[data-key=CV].CV_theme_light .sh_auto_a10 p {
  text-shadow: rgba(255, 255, 255, 0.1) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a10 p button,
[data-key=CV].CV_theme_light .sh_auto_a10 img,
[data-key=CV].CV_theme_light .sh_auto_a10 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.1));
}

[data-key=CV].CV_theme_light .sh_auto_a20 p {
  text-shadow: rgba(255, 255, 255, 0.2) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a20 p button,
[data-key=CV].CV_theme_light .sh_auto_a20 img,
[data-key=CV].CV_theme_light .sh_auto_a20 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.2));
}

[data-key=CV].CV_theme_light .sh_auto_a40 p {
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a40 p button,
[data-key=CV].CV_theme_light .sh_auto_a40 img,
[data-key=CV].CV_theme_light .sh_auto_a40 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.4));
}

[data-key=CV].CV_theme_light .sh_auto_a60 p {
  text-shadow: rgba(255, 255, 255, 0.6) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a60 p button,
[data-key=CV].CV_theme_light .sh_auto_a60 img,
[data-key=CV].CV_theme_light .sh_auto_a60 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.6));
}

[data-key=CV].CV_theme_light .sh_auto_a80 p {
  text-shadow: rgba(255, 255, 255, 0.8) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a80 p button,
[data-key=CV].CV_theme_light .sh_auto_a80 img,
[data-key=CV].CV_theme_light .sh_auto_a80 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.8));
}

[data-key=CV].CV_theme_light .sh_auto_a90 p {
  text-shadow: rgba(255, 255, 255, 0.9) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a90 p button,
[data-key=CV].CV_theme_light .sh_auto_a90 img,
[data-key=CV].CV_theme_light .sh_auto_a90 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.9));
}

[data-key=CV].CV_theme_light .sh_auto_a100 p {
  text-shadow: rgb(255, 255, 255) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a100 p button,
[data-key=CV].CV_theme_light .sh_auto_a100 img,
[data-key=CV].CV_theme_light .sh_auto_a100 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgb(255, 255, 255));
}

[data-key=CV].CV_theme_light .sh_auto_a10.inverted p {
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a10.inverted p button,
[data-key=CV].CV_theme_light .sh_auto_a10.inverted img,
[data-key=CV].CV_theme_light .sh_auto_a10.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.1));
}

[data-key=CV].CV_theme_light .sh_auto_a20.inverted p {
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a20.inverted p button,
[data-key=CV].CV_theme_light .sh_auto_a20.inverted img,
[data-key=CV].CV_theme_light .sh_auto_a20.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.2));
}

[data-key=CV].CV_theme_light .sh_auto_a40.inverted p {
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a40.inverted p button,
[data-key=CV].CV_theme_light .sh_auto_a40.inverted img,
[data-key=CV].CV_theme_light .sh_auto_a40.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.4));
}

[data-key=CV].CV_theme_light .sh_auto_a60.inverted p {
  text-shadow: rgba(0, 0, 0, 0.6) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a60.inverted p button,
[data-key=CV].CV_theme_light .sh_auto_a60.inverted img,
[data-key=CV].CV_theme_light .sh_auto_a60.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.6));
}

[data-key=CV].CV_theme_light .sh_auto_a80.inverted p {
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a80.inverted p button,
[data-key=CV].CV_theme_light .sh_auto_a80.inverted img,
[data-key=CV].CV_theme_light .sh_auto_a80.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.8));
}

[data-key=CV].CV_theme_light .sh_auto_a90.inverted p {
  text-shadow: rgba(0, 0, 0, 0.9) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a90.inverted p button,
[data-key=CV].CV_theme_light .sh_auto_a90.inverted img,
[data-key=CV].CV_theme_light .sh_auto_a90.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.9));
}

[data-key=CV].CV_theme_light .sh_auto_a100.inverted p {
  text-shadow: rgb(0, 0, 0) 0 0 calc(4rem / 2);
}

[data-key=CV].CV_theme_light .sh_auto_a100.inverted p button,
[data-key=CV].CV_theme_light .sh_auto_a100.inverted img,
[data-key=CV].CV_theme_light .sh_auto_a100.inverted svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgb(0, 0, 0));
}

[data-key=CV] .sh_black_a10 p {
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_black_a10 p button,
[data-key=CV] .sh_black_a10 img,
[data-key=CV] .sh_black_a10 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.1));
}

[data-key=CV] .sh_black_a20 p {
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_black_a20 p button,
[data-key=CV] .sh_black_a20 img,
[data-key=CV] .sh_black_a20 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.2));
}

[data-key=CV] .sh_black_a40 p {
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_black_a40 p button,
[data-key=CV] .sh_black_a40 img,
[data-key=CV] .sh_black_a40 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.4));
}

[data-key=CV] .sh_black_a60 p {
  text-shadow: rgba(0, 0, 0, 0.6) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_black_a60 p button,
[data-key=CV] .sh_black_a60 img,
[data-key=CV] .sh_black_a60 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.6));
}

[data-key=CV] .sh_black_a80 p {
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_black_a80 p button,
[data-key=CV] .sh_black_a80 img,
[data-key=CV] .sh_black_a80 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.8));
}

[data-key=CV] .sh_black_a90 p {
  text-shadow: rgba(0, 0, 0, 0.9) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_black_a90 p button,
[data-key=CV] .sh_black_a90 img,
[data-key=CV] .sh_black_a90 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(0, 0, 0, 0.9));
}

[data-key=CV] .sh_black_a100 p {
  text-shadow: rgb(0, 0, 0) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_black_a100 p button,
[data-key=CV] .sh_black_a100 img,
[data-key=CV] .sh_black_a100 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgb(0, 0, 0));
}

[data-key=CV] .sh_white_a10 p {
  text-shadow: rgba(255, 255, 255, 0.1) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_white_a10 p button,
[data-key=CV] .sh_white_a10 img,
[data-key=CV] .sh_white_a10 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.1));
}

[data-key=CV] .sh_white_a20 p {
  text-shadow: rgba(255, 255, 255, 0.2) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_white_a20 p button,
[data-key=CV] .sh_white_a20 img,
[data-key=CV] .sh_white_a20 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.2));
}

[data-key=CV] .sh_white_a40 p {
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_white_a40 p button,
[data-key=CV] .sh_white_a40 img,
[data-key=CV] .sh_white_a40 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.4));
}

[data-key=CV] .sh_white_a60 p {
  text-shadow: rgba(255, 255, 255, 0.6) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_white_a60 p button,
[data-key=CV] .sh_white_a60 img,
[data-key=CV] .sh_white_a60 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.6));
}

[data-key=CV] .sh_white_a80 p {
  text-shadow: rgba(255, 255, 255, 0.8) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_white_a80 p button,
[data-key=CV] .sh_white_a80 img,
[data-key=CV] .sh_white_a80 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.8));
}

[data-key=CV] .sh_white_a90 p {
  text-shadow: rgba(255, 255, 255, 0.9) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_white_a90 p button,
[data-key=CV] .sh_white_a90 img,
[data-key=CV] .sh_white_a90 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgba(255, 255, 255, 0.9));
}

[data-key=CV] .sh_white_a100 p {
  text-shadow: rgb(255, 255, 255) 0 0 calc(4rem / 2);
}

[data-key=CV] .sh_white_a100 p button,
[data-key=CV] .sh_white_a100 img,
[data-key=CV] .sh_white_a100 svg {
  filter: drop-shadow(0 0 calc(4rem / 2) rgb(255, 255, 255));
}

/*
 * Scrollbar styles.
 * ------------------------------------------------------------------------------------------------------------------
 */
[data-key=CV].CV_theme_dark ::-webkit-scrollbar-thumb {
  background: rgb(245, 250, 232);
}

[data-key=CV].CV_theme_dark ::-webkit-scrollbar-track {
  background: rgba(245, 250, 232, 0.1);
}

[data-key=CV].CV_theme_light ::-webkit-scrollbar-thumb {
  background: rgb(0, 56, 61);
}

[data-key=CV].CV_theme_light ::-webkit-scrollbar-track {
  background: rgba(0, 56, 61, 0.1);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}

/*
 * Overrides.
 * ------------------------------------------------------------------------------------------------------------------
 */
@media print {
  [data-key=CV] [class*=_sh_] p {
    text-shadow: none !important;
  }
  [data-key=CV] [class*=_sh_] button,
  [data-key=CV] [class*=_sh_] img,
  [data-key=CV] [class*=_sh_] svg {
    filter: none !important;
  }
}

/*# sourceMappingURL=theme.css.map */
